
/* CSS Variables */
:root {
    /* colors */
    --primary-color: #089CE7;
    --secondary-color: #FF7D00;
    --tertiary-color: #83C7EA;
    --light-shade: #F9F9F9;
    --dark-shade: #252525;
}

/* Globals */
body {
    /* fonts */
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-shade);
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font: 24px;
}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Link styling */
a {
    color: var(--dark-shade);
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 3px;
    transition-duration: 250ms;
}

/* Removes border bottom styling from <a> elements that contain img elements as children. */
a:has(img) {
    border-bottom: none;
}

/* Global Effects */
.highlight {
    color: var(--secondary-color);
}

.box-shadow-blue {
    border:2px solid var(--dark-shade);
    box-shadow: 15px 15px 0 var(--primary-color);
}


/* page-container */
.page-container {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flexbox Container */
.container {
    display: flex;
}

/* Grid Container */
.grid-container {
    display: grid;
}


/* Header */
.header {
    width: 100%;
    height: 100px;
    background-color: #F9F9F9;
}
.nav {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 32px;
    font-weight: 500;
}

.nav__links ul > li {
    margin: 0 40px;
}


.nav__icons ul > li {
    margin: 10px;
}

.nav__icons li > a,
.footer__icons li > a {
    border: none;
}

i[class~='fa-brands'] {
    font-size: 20px;
    transition-duration: 250ms;
}






/* Banner */

.banner {
    margin: 10% 0;
    width: 70%; /* Mobile may require max-width */
}

.banner__content {
    padding: 40px;
    background-color: var(--light-shade) ;
}

.banner__image {
    width: 40%;
    max-width:400px;
    object-fit: cover;
}

#banner__title:first-line
 {
    font-size: 4rem;
}



/* Project Examples */
.projects {
    width: 70%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10%;
}

.projects a:first-child {
    flex: 1 1 auto;
}

.projects a:not(:first-child) {
    flex: 1 1 300px;
}


.about-me {
    justify-content: center;
    width: 70%;
    background-color: #F9F9F9;
    border: 2px solid var(--dark-shade);
    box-shadow: -15px 15px 0 var(--secondary-color);
    margin-bottom: 10%;
}

.about-me__content {
    padding: 40px;
}

.about-me__title {
    padding-bottom: 40px;
}







/* Contact Me */
.contact-me {
    width: 90%;
    max-width: 800px;
    background-color: var(--light-shade);
    border: 2px solid var(--dark-shade);
    box-shadow: 15px 15px 0 var(--primary-color);
    margin-bottom: 10%;
    
}

.contact-me__form {
    flex-direction: column;
    
}

.details > * {
    display: block;
    width: 100%; 
    margin: 20px;
    border: 2px solid var(--dark-shade);
}


[type='text']:focus, 
[type='email']:focus, 
[type='tel']:focus, 
textarea:focus {
	outline: 2px solid var(--secondary-color);    
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

textarea {
    resize: none;
}

select::-ms-expand {
    display: none;
  }

::-webkit-input-placeholder {
	color: var(--dark-shade);
}

:-moz-placeholder { 
	color: var(--dark-shade);
	opacity: 1;
}

::-moz-placeholder {
	color: var(--dark-shade);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--dark-shade);
}


button {
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



























/* footer */
.footer {
    position: absolute; /* Fix footer to the bottom of the page. */
    bottom: 0;
    width: 100%;
    background-color: var(--light-shade);
}

.footer__nav {
    position: relative;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}



section[class*='section'] {
    width:30%;
    max-width: 300px;
}



.footer__links {
    gap: 20px;
    flex-wrap: wrap;
}


.footer__copyright {
    justify-content: center;
    text-align: center;
}



.footer__icons {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
}





/* Adds 40px padding-left to every icon, except the last  */
/* .footer__icons :not(:last-child) {
    padding-left: 20px;
}  */

/* .footer__links :not(:first-child) {
    padding-left: 20px;
} */




















/* Active States */
a:hover {
    padding-bottom: 0;
}

a:active {
    color: var(--secondary-color);
    border: none;
}

.fa-brands:hover {
    transform: translateY(-2px);
}