

/* CSS Variables */
:root {
    /* colors */
    --primary-color: #089CE7;
    --secondary-color: #FF7D00;
    --tertiary-color: #83C7EA;
    --light-shade: #F9F9F9;
    --dark-shade: #252525;
}


/* Globals */
body {
    /* fonts */
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-shade);
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
}

h3 {
    font: 24px;
}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #252525;
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 2px;
    transition-duration: 300ms;
}

.accent--secondary {
    color: #FF7D00;
}


/* page-container */
.page-container {
    padding-bottom: 100px;
    min-height: 100vh;
}
/* Header */
.header {
    height: 100px;
    background-color: #F9F9F9;
}
.nav {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links-container {
    display: flex;
}

.nav__links-container > li {
    margin: 0 40px;
}

.nav__icons-container {
    display: flex;
}

.nav__icons-container > li {
    margin: 10px;
}

.nav__icons-container a {
    border: none;
}

.fa-brands {
    font-size: 20px;
    transition-duration: 300ms;
}

.fa-spotify {
    color:#FF7D00;
}

/* Banner */

.banner-container {
    margin: 10% auto;
    display: flex;
    width: 70%;
    border:2px solid var(--dark-shade);
    box-shadow: 15px 15px 0 var(--primary-color);
}

.banner__content {
    width: 100%;
    padding: 40px;
    background-color: var(--light-shade) ;
}

.banner__image {
    width: 40%;
    max-width:400px;
    object-fit: cover;
}

#firstline-accent:first-line
 {
    font-size: 4rem;
}

#banner__btn {
    display: inline-block;
    margin: 0 auto;
}




.about-me {
    
}
.about-me-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #F9F9F9;
    border: 2px solid var(--dark-shade);
}

.about-me__content {
    padding: 40px;
}











/* footer */
footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: var(--light-shade);
    font-size: 16px;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.footer__right {
    width: 30%;
}

.footer__links {
    width: 30%;
}

.footer__links-container {
    display: flex;
    justify-content: space-between; 
}















/* Active States */
a:hover {
    padding-bottom: 0;
}

a:active {
    color: var(--secondary-color);
    border: none;
}

.fa-brands:hover {
    transform: translateY(-2px);
}